body
{
	background:#000000;
	color: #fff;
	width: 50%;
}
h1
{
	color: aqua;
	font-size: 60px;
	margin: 20px 50px;
	border: 2px solid #00cccc;
	font-family: 'Pacifico', cursive;
}
h3
{
	margin: 40px 200px;
	border: 2px solid #00cccc;
	font-family: 'VT323', monospace;
}
div p
{
	background: #ffffff;
	color: #000;
	width: 50%;
	border: 2px solid #00cccc;
}
p
{
	font-size: 25px;
}
ul
{
	font-size: 20px;
}